<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entrées</title>
</head>
<body>
  <h1>Liste des Entrées</h1>
  <a href="/entrees/nouveau">Ajouter une nouvelle entrée</a>
  <ul>
    <% entrees.forEach(entree => { %>
      <li>Produit : <%= entree.Produit.nom %> - Quantité : <%= entree.quantite %> - Date : <%= entree.createdAt.toLocaleDateString() %></li>
    <% }) %>
  </ul>
</body>
</html>
