<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestion de Stock</title>
</head>
<body>
  <h1>Bienvenue à l'application de gestion de stock</h1>
  <a href="/categories">Voir les catégories</a>
  <a href="/produits">Voir les produits</a>
</body>
</html>
